@import url(http://fonts.googleapis.com/css?family=Gabriela);

body {
    background-color: #a7a09a;
    margin: 0;
}

h1 {
    font-family: Gabriela;
    font-size: 42pt;
    color: green;
    margin: 0;
}

h2 {
    margin: 0 0 25px 0;
}

p {
    margin: 20px 0;
}

#podnozje p {
    margin: 0;
}

ul.meni {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.meni li {
    display: inline;
}

#zaglavlje,
#meni,
#glavni,
#desno,
#podnozje {
    padding: 5px 10px;
}

#okvir {
    background-color: #99c;
    width: 750px;
    margin: 0 auto;
}

#zaglavlje {
    background-color: #ddd;
}

#meni {
    background-color: #c99;
}

#glavni {
    background-color: #9c9;
    float: left;
    width: 520px;
}

#desno {
    background-color: #c9c;
    float: right;
    width: 190px;
}

#podnozje {
    background-color: #cc9;
    clear: both;
}